/*!
 * EenmaalAndermaal
 * Auteur: Kevin van Schaijk
 */
/* fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Ubuntu');

/*page properties */

body{
	font-family:'Open Sans';
	font-size:16px;	
	height:100%;
	width:100%;
}

p:first-letter{
	text-transform:capitalize;
}
section{
	padding:50px;
}

form label:first-letter{
	text-transform:capitalize;
}

table th:first-letter{
	text-transform:capitalize;
}

.wraptext{
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

h1:first-letter,
h2:first-letter,
h3:first-letter,
h4:first-letter,
h5:first-letter,
h6:first-letter{
	text-transform:capitalize;
}

/* Page navigation */
nav.navbar{
	background-color: rgba(0,0,0,0.4);
	line-height:16px;
}

nav#index.navbar,
nav#overview.navbar
{	
	background-color:transparent;
}

nav.navbar a{
	color:white;
}

nav.navbar .dropdown a{
	color:black;
}

.dropdown-item:active{
	background:#D9D9D9;
}

nav.navbar li{
	line-height:16px;
}

nav {
  transition: background-color 0.4s ease-out;
}

.navbar-dark .navbar-toggler{
	color: white !important;
	border-color: white;
}

.navbar-dark .navbar-toggler-icon { 
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
 }
 
.navbar-dark .navbar-nav .nav-link{
	color:white;
}



/* Search bar navigation */
.navbar input[type="search"]{
	width: 240px;
    padding: 5px;
	border: none;
	border-radius: 5px;
	
	color:white;
	background-color:transparent;
	border: 2px solid white;
}

.navbar input[type="submit"]{
	width: 50px;
	padding: 5px;
	position: relative;
	right: 56px;
	border: 0px;
	background: #548235;
	color: white;
	border-radius: 0px 5px 5px 0px;
}

.navbar input[type="search"],.navbar input[type="submit"]{
	font-size:12px;
}

 /* Header */
 

.header {
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	background-size: cover !important;
	-o-background-size: cover !important;
}

.header p {
	color:white;
}

.promo-header{
	background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),url('../img/header/mobile_header.jpg') center center no-repeat scroll;	
	height: 500px;
	min-height: 300px;
}

#errorpage{
	background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../img/header/404.jpg') center center no-repeat scroll;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
	
}

#errorpage .container{
	top:40%;	
}

#errorpage .container h1{
	font-size:35px
}
#errorpage .container p{
	margin:20px;
	line-height: 20px;
}


.content-header{
	background:black;
	height: 300px;
	min-height: 300px;
}

html body header#account.header.content-header{
	min-height:200px;
	height: 200px;
	background:rgba(166,166,166);
}
.header h1 b,.header h1 strong{
	font-weight:bold;
}

html body section.user-details div.container div#nav-tabContent.tab-content {
        overflow:visible;
    }

#content-user-details button{
	margin-right:5px;
	margin-left: 5px;
}

.header .logo{
	width:150px;
}

.header h1{

	font-size:26px;
	font-weight:100;
}

.content-header h1{

	font-size:35px;
	font-weight:bold;
}

.promo-header h1{
	margin-top:20px;	
}

.header .container{
	position:relative;	
}
.promo-header .container{
	top:25%;
	
}

.content-header .container{
	top:50%;
	
}

/* Search bar header*/
.header input[type="search"]{
	margin-top:20px;
	min-width: 220px;
    padding: 10px;
	border: none;
	height: 35px;
}

.header input[type="submit"]{
	margin-top:20px;
	padding: 10px;
	position: relative;
	right: 5px;
	border: 0px;
	background: #F2552C;
	color: white;
}

.card {
	height: 100%;
}


/* Breadcrumb */
.breadcrumb {
    background-color: white;
    height: auto;
    margin-bottom: 20px;
    margin-top: 0px;
	margin:0 auto;
	
}
.row < .breadcrumb { background:red; }
.breadcrumb li{
	padding-bottom: 10px;
}

section.userExperience{
	background:#bfbfbf;
}

section.attention{
	background:#D9D9D9;
}

/* Section UserExperience */
.userExperience img{
  width:10vw;
  height: 10vw;
	
}

.userExperience h2{
	color:white;
	text-shadow: 1px 1px 1px #262626;

	position: relative;
	top: 25%;
}

/* Section products */
section.products{
	background-color:white;
}

/* product thumpnails*/
.products .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7,
 .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto,
 .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5,
 .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10,
 .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1,
 .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
 .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11,
 .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2,
 .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,
 .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
 .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4,
 .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10,
 .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
	
	margin-bottom:20px;
}

.product div.card-body h5{
color: rgb(128,128,128);
text-align:center;	
}

.product div.card-body h5 .price{
font-weight:bold;
}

.product div.card-body h5 .time{
}

.product div.card-body a .btn{
	
}

section.products a{color:rgb(242, 85, 44);}

.product.card .card-body .btn .cta-white{

}
.product.card div.card-body{
	text-align:center;
}

.product.card div.card-body a.btn.cta-white{
	width:80%;
	text-align:center;
	padding:15px;
}

.product div.card-title h4{
	color: rgb(128,128,128);
	text-align:center;	
}

.product .card-img-top{
max-height: 200px;
min-height: 200px;
	
}

.products .carousel-control-prev,.products .carousel-control-next{
background:rgb(102, 102, 102);
position:static;
width: 50%;
float:left;
padding:20px;
}

section.products .card-title{

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
	
}

/* slider */
@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item,
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner
    .active.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}  
  /*  Sliderbuttons */
	.sliderbuttons{
	margin:0 auto;
	overflow:auto;
	display:inline-block;
	margin-top:20px;

	}
	
 /*Slider clearfix*/
 .carousel .clearfix{text-align:center;}

/*footer */
footer{flex-shrink: 0;}
footer .fContent{margin-bottom:0px;} 
 footer ul{
	 list-style-type:none;
	 padding:0;

 }
 
 footer .logo{
	 height:100px;
	 max-width:25%;
	 float:left;
	 
 }
 
 footer h2{
	font-size:23px;
	float: left;
	position: relative;
	top: 25%;
	color:white;
	padding: 0 20px;
 }
 
  footer h6{
	color:white;
	font-weight:bold;
	
 }
 
 footer a:hover{
	 color:white;
	 
 }
 
 footer ul li,
 footer ul li a{
	 color:white;
	 margin:10px auto;
	 text-decoration:none;
 }
 
  footer ul li a:hover{
	 text-decoration:none;
 }
 
 /* Social icons footer */
footer .social i{
width: 30px;
height: 30px;
line-height: 30px;
text-align: center;
color: #343a40 !important;
background:white;
border-radius:50%;
margin: 5px 2px;	
}

footer hr{
	border: 1px solid white;
	margin-top: 0px;
	width:100px;
	display:none;
}

footer .social a{
text-decoration:none;
}
 
/* Sidebar overview */
.sidebar{
	
	padding:20px; 
	border: 1px solid lightgray;
	border-top-left-radius: calc(0.25rem - 1px);
	border-top-right-radius: calc(0.25rem - 1px);
	
	}

	
.sidebar .fa.fa-angle-down{color:rgb(242, 85, 44)}
.list-group-item:first-child{
	border-radius:0;
	
}

.subnav-1 li{
	background: rgba(52,58,64,0.2) !important;
	border:1px white;
}
.subnav-2 li{
	background: rgba(52,58,64,0.4) !important;
	border:1px white;
}
.subnav-3 li{
	background: rgba(52,58,64,0.6) !important;
}
.subnav-4 li{
	background: rgba(0,0,0,0.8) !important;
}
.subnav-5 li{
	background: rgba(52,58,64,0.1) !important;
}

.list-group li a{
	color:black;
}

.list-group li a:hover{
	text-decoration:none;
}

.badge-primary{
	background: rgb(242, 85, 44);
}

.sidebar h4:not(:first-child) {
    margin-top:20px;
}

.input_fields_wrap{
margin-bottom:10px;	
}


.input_fields_wrap .input-group{
	margin:10px 0px;
}

/*Product details */
section.user-details{
	background: white;
}


/*General classes */
.form-control:focus{border-color: rgb(242, 85, 44);  box-shadow: none; -webkit-box-shadow: none;} 

.no-margin{
	margin:0;
}

.wrapper{
	margin-left:-15px; 
	margin-right:-15px;
}

/*buttons */
.btn-orange{
color: #fff;
background-color: #F2552C;
border-color: #F2552C;
}
.btn-orange:hover{
color: #fff;
background-color:#d8360e;
border-color:#d8360e;
}
.btn-orange:focus, .btn-orange.focus {
    box-shadow: 0 0 0 0.2rem rgba(242, 85, 44,0.5)
}
.cta-orange{margin:10px 10px;}
.ghostbtn{
   	color:rgb(102, 102, 102);
	margin:10px 10px;
    font-size: 22px;
	background-color:white;
	border: none;
	border-radius: 300px;
	padding: 15px 30px;

} 

.ghostbtn:hover{
	color:rgb(102, 102, 102);
}



.ghostbtn:focus{box-shadow: 0 0 0 0.2rem rgba(242, 85, 44,0.5)}

