.cta-orange{
	padding: 15px 60px;
	background-color: #F2552C;
	color: white;
	font-weight: 600;
}

a.cta-orange:hover{
	color: #F2552C;
	text-decoration: none;
	border: 2px solid #F2552C;
	transition: 0.3s;
	background-color: white;
	padding: 13px 58px;
	box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.25);
}

.cta-white{
	padding: 13px 58px;
	border: 2px solid #F2552C;
	color: #F2552C;
	background-color: white;
	font-weight: 600;
}

.cta-white:hover{
	color: white;
	text-decoration: none;
	background-color: #F2552C;
	transition: 0.3s;
	box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.25);
}

.error-warning{
	margin-top: 10px;
	display: inline-block;
	color: red;
}

main{
	min-height: 78vh;
}
header{
	min-height: 6vh;
}
.btn-delete-product{
	margin-top: 10px;
}
.beheerdersomgeving .form-group{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 0.2rem;
}


.beheerdersomgeving button{
	margin-bottom: 0.2rem;
}

.beheerdersomgeving .table.striped{
	height: 440px;
	overflow-y: scroll;
	display: block;
	border-radius: 2px;
	border: 1px solid black;
}

.beheerdersomgeving .table.striped th, .beheerdersomgeving .table.striped tr, .beheerdersomgeving .table.striped td{
	width: 1%;
}

.beheerdersomgeving .table.striped tr:nth-child(even){
	background-color: white;
}

.beheerdersomgeving .table.striped td, .beheerdersomgeving .table.striped th{
    padding: 7px 0.75rem;
}

.beheerdersomgeving .table.striped th{
	background-color: rgba(255,255,255,0.5);
}
@media screen and (max-width: 500px){
	.beheerdersomgeving .row{
		margin-top: 40px;
	}
}